<div id="toTop"><span class="glyphicon glyphicon-chevron-up"></span></div>

{% if page.pre_header_first or page.pre_header_second or page.pre_header_third %}
<!-- #pre-header -->
<div id="pre-header" class="clearfix">
    <div class="container">

        <!-- #pre-header-inside -->
        <div id="pre-header-inside" class="clearfix">
            <div class="row">
                <div class="col-md-4">
                    {% if page.pre_header_first %}
                    <div class="pre-header-area">
                    {{ page.pre_header_first }}
                    </div>
                    {% endif %}
                </div>
                
                <div class="col-md-4">
                    {% if page.pre_header_second %}
                    <div class="pre-header-area">
                    {{ page.pre_header_second }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-4">
                    {% if page.pre_header_third %}

                    <div class="pre-header-area">
                    {{ page.pre_header_third }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- EOF: #pre-header-inside -->

    </div>
    <div class="toggle-control"><a href="javascript:showPreHeader()"><span class="glyphicon glyphicon-plus"></span></a></div>
</div>
<!-- EOF: #pre-header -->    
{% endif %}

{% if page.header_top_left or page.header_top_right %}
<!-- #header-top -->
<div id="header-top" class="clearfix">
    <div class="container">

        <!-- #header-top-inside -->
        <div id="header-top-inside" class="clearfix">
            <div class="row">
            
            {% if page.header_top_left %}
            <div class="{{header_top_left_grid_class}}">
                <!-- #header-top-left -->
                <div id="header-top-left" class="clearfix">
                    {{ page.header_top_left }}
                </div>
                <!-- EOF:#header-top-left -->
            </div>
            {% endif %}
            
            {% if page.header_top_right %}
            <div class="{{header_top_right_grid_class}}">
                <!-- #header-top-right -->
                <div id="header-top-right" class="clearfix">
                    {{ page.header_top_right }}
                </div>
                <!-- EOF:#header-top-right -->
            </div>
            {% endif %}
            
            </div>
        </div>
        <!-- EOF: #header-top-inside -->

    </div>
</div>
<!-- EOF: #header-top -->    
{% endif %}

{% if page.header %}
<!-- header -->
<header id="header" role="banner" class="clearfix">
    <div class="container-fluid">

        <!-- #header-inside -->
        <div id="header-inside" class="clearfix">
            <div class="row">
                <div class="super-slide-1">
                    {{ page.header }}
                </div>
            </div>
        </div>
        <!-- EOF: #header-inside -->

    </div>
</header>
<!-- EOF: #header --> 
{% endif %}

<!-- #main-navigation --> 
<div id="main-navigation" class="clearfix">
    <div class="container">

        <!-- #main-navigation-inside -->
        <div id="main-navigation-inside" class="clearfix">
            <div class="row">
                <div class="col-md-12">
                    <nav role="navigation" class="clearfix">
                        {% if page.navigation %}
                        {{ page.navigation }}
                        {% else %}
                            {% if main_menu %}
                            {{ main_menu }}
                            {% endif %}
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
        <!-- EOF: #main-navigation-inside -->

    </div>
</div>
<!-- EOF: #main-navigation -->

{% if page.banner %}
<!-- #banner -->
<div id="banner" class="clearfix">
    <div class="container">
        
        <!-- #banner-inside -->
        <div id="banner-inside" class="clearfix">
            <div class="row">
                <div class="col-md-12">
                {{ page.banner }}
                </div>
            </div>
        </div>
        <!-- EOF: #banner-inside -->        

    </div>
</div>
<!-- EOF:#banner -->
{% endif %}

<!-- #page -->
<div id="page" class="clearfix">
    {% if page.highlighted %}
    <!-- #top-content -->
    <div id="top-content" class="clearfix">
        <div class="container">

            <!-- #top-content-inside -->
            <div id="top-content-inside" class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                    {{ page.highlighted }}
                    </div>
                </div>
            </div>
            <!-- EOF:#top-content-inside -->

        </div>
    </div>
    <!-- EOF: #top-content -->
    {% endif %}

    <!-- #main-content -->
    <div id="main-content">
        <div class="container">
        
            <div class="row">
                {% if page.sidebar_first %}
                <aside class="{{sidebar_grid_class}}">  
                    <!--#sidebar-first-->
                    <section id="sidebar-first" class="sidebar clearfix">
                    {{ page.sidebar_first }}
                    </section>
                    <!--EOF:#sidebar-first-->
                </aside>
                {% endif %}

                <section class="{{main_grid_class}}">

                    <!-- #main -->
                    <div id="main" class="clearfix">
                    
                        <!-- #breadcrumb -->
                        <div id="breadcrumb" class="clearfix">
                            <!-- #breadcrumb-inside -->
                            <div id="breadcrumb-inside" class="clearfix">
                            {{ breadcrumb }}
                            </div>
                            <!-- EOF: #breadcrumb-inside -->
                        </div>
                        <!-- EOF: #breadcrumb -->

                        {% if page.promoted %}
                        <!-- #promoted -->
                            <div id="promoted" class="clearfix">
                                <div id="promoted-inside" class="clearfix">
                                {{ page.promoted }}
                                </div>
                            </div>
                        <!-- EOF: #promoted -->
                        {% endif %}

                        <!-- EOF:#content-wrapper -->
                        <div id="content-wrapper">

                            {% if page.content %}
                                {{ page.content }}
                            {% endif %}

                        </div>
                        <!-- EOF:#content-wrapper -->

                    </div>
                    <!-- EOF:#main -->

                </section>
                
                {% if page.sidebar_second %}
                <aside class="{{sidebar_grid_class}}">
                    <!--#sidebar-second-->
                    <section id="sidebar-second" class="sidebar clearfix">
                    {{ page.sidebar_second }}
                    </section>
                    <!--EOF:#sidebar-second-->
                </aside>
                {% endif %}
        
            </div>

        </div>
    </div>
    <!-- EOF:#main-content -->
    
    {% if page.bottom_content %}
    <!-- #bottom-content -->
    <div id="bottom-content" class="clearfix">
        <div class="container">

            <!-- #bottom-content-inside -->
            <div id="bottom-content-inside" class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                    {{ page.bottom_content }}
                    </div>
                </div>
            </div>
            <!-- EOF:#bottom-content-inside -->

        </div>
    </div>
    <!-- EOF: #bottom-content -->
    {% endif %}

</div>
<!-- EOF:#page -->

{% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
<!-- #footer -->
<footer id="footer" class="clearfix">
    <div class="container">
    
        <!-- #footer-inside -->
        <div id="footer-inside" class="clearfix">
            <div class="row">
                <div class="col-md-3">
                    {% if page.footer_first %}
                    <div class="footer-area">
                    {{ page.footer_first }}
                    </div>
                    {% endif %}
                </div>
                
                <div class="col-md-3">
                    {% if page.footer_second %}
                    <div class="footer-area">
                    {{ page.footer_second }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-3">
                    {% if page.footer_third %}
                    <div class="footer-area">
                    {{ page.footer_third }}
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-3">
                    {% if page.footer_fourth %}
                    <div class="footer-area">
                    {{ page.footer_fourth }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- EOF: #footer-inside -->
    
    </div>
</footer> 
<!-- EOF #footer -->
{% endif %}

<footer id="subfooter" class="clearfix">
    <div class="container">
        
        <!-- #subfooter-inside -->
        <div id="subfooter-inside" class="clearfix">
            <div class="row">
                <div class="col-md-12">
                    <!-- #subfooter-left -->
                    <div class="subfooter-area">
                    {% if secondary_menu %}
                    <nav id="secondary-menu" class="navigation" role="navigation">
                    {{ secondary_menu }}
                    </nav>
                    {% endif %}                    

                    {% if page.footer %}
                    {{ page.footer }}
                    {% endif %}

                    </div>
                    <!-- EOF: #subfooter-left -->
                </div>
            </div>
        </div>
        <!-- EOF: #subfooter-inside -->
    
    </div>
</footer>
<!-- EOF:#subfooter -->